body {
	color: #696969;
}
h3,h4{
	color: #2c2c2c;
}
a:hover {
	text-decoration: none;
}
.header {
	background: url('../images/bg_header.png') no-repeat top;
	background-size: 100% 100%;
}
.header .navbar {
	overflow: hidden;
	display: block;
}
.header .navbar .logo{
	height: 100%;
}
#nav-header .navbar-toggle{
	background-color: #fff;
	margin-top: 20px;
}
#nav-header .icon-bar{
	background-color: #2c2c2c;
}
@media(max-width: 768px){
	#nav-header ul {
		width: 100%;
	}
	.header .container {
		padding-right: 0;
		padding-left: 0;
	}
}
#nav-header ul li a {
	color: #fff;
}
#nav-header ul li a:hover {
	color: #ccc;
	background: transparent;
}
#carousel-large {
	margin-bottom: 30px;
}
#carousel-large img {
	width: 100%;
}
#carousel-large .carousel-indicators {
	bottom: -34px;
	right: 0px;
	left: auto;
	width: 100%;
	text-align: right;
}

.middle {
	background: url('../images/bg_content.png') repeat-x;
}
@media(max-width: 768px){
	.product-home .item-home{
		clear: both;
		padding-top: 10px;
	}
}
.product-home .item-home img {
	width: 100%;
}
.product-home .item-home .more {
	background-color: #2c2c2c;
	color: #fff;
	padding: 5px 10px;
	border-bottom: 2px #ccc solid;
}
.product-home .item-home .more:hover {
	color: #999;
}

.footer {
	background: url('../images/bg_header.png') no-repeat top;
	color: #fff;
	padding: 20px 0;
}
.footer ul {
	font-size: 12px;
}
.footer ul li {
	border-bottom: 1px dotted #fff;
}
.footer ul a{
	color: #fff;
	margin: 3px;
	display: block;
}
.footer ul a:hover{
	color: #ccc;
}

