.footer {
	background: url('../images/bg_header.png') no-repeat top;
	color: #fff;
	padding: 20px 0;
}
.footer ul {
	font-size: 10px;
}
.footer ul li {
	border-bottom: 1px dotted #fff;
}
.footer ul a{
	color: #fff;
	margin: 3px;
	display: block;
}
.footer ul a:hover{
	color: #ccc;
}
