.header {
	background: url('../images/bg_header.png') no-repeat top;
	background-size: 100% 100%;
}
.header .navbar {
	overflow: hidden;
	display: block;
}
.header .navbar .logo{
	height: 100%;
}
#nav-header .navbar-toggle{
	background-color: #fff;
	margin-top: 20px;
}
#nav-header .icon-bar{
	background-color: #2c2c2c;
}
@media(max-width: 768px){
	#nav-header ul {
		width: 100%;
	}
	.header .container {
		padding-right: 0;
		padding-left: 0;
	}
}
#nav-header ul li a {
	color: #fff;
}
#nav-header ul li a:hover {
	color: #ccc;
	background: transparent;
}
#carousel-large {
	margin-bottom: 30px;
}
#carousel-large img {
	width: 100%;
}
#carousel-large .carousel-indicators {
	bottom: -34px;
	right: 0px;
	left: auto;
	width: 100%;
	text-align: right;
}